@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --var-color: 267;
  --brand-color: hsl(var(--var-color), 90%, 77%);
  --brand-hover: hsl(var(--var-color), 90%, 73%)
}

::-webkit-scrollbar {
  background: black;
  width: 0.7rem;
  height: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: var(--brand-color);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--brand-hover);
}

::-webkit-scrollbar-corner {
  background: var(--root-color);
  border-radius: 1rem;
}